<div class="container" style=" margin-top:50px; text-align: center;">
    <h1 style="text-decoration: underline;">Profile Page</h1> <br><br>
    <span style="font-size: 40px;">Welcome {{user.firstName}}</span> <br><br><br><br>
    <a href="/api/users/todos" class="btn"> Check your Todo-list</a>
</div>