<div class="flex-container-column">
    <h1>Welcome to your Profile</h1>

    <h2>Find your details below:</h2>

    <div class="flex-container-column">
        <h3>Email: {{email}}</h3>
        <h3>Address: {{address}}</h3>

        <h3>Phone: {{phone}}</h3>

    </div>

</div>