<div class="wrapper">
    <header>
        {{!-- <div></div>
        <div class="nav">
            <div class="navlinks"> <a href="#">Home</a> </div>
            <div class="navlinks"><a href="about.html">About</a> </div>
            <div class="navlinks"><a href="exp.html">Experience</a> </div>
            <div class="navlinks"><a href="contact.html">Contact</a> </div>
        </div> --}}
    </header>
    <hr>
    <div class="hero">
        <div class="dp"><img width="150px" src="photos/profileImage.png" alt="Akshay's profile pic"></div>
        <div class="about">
            <h1 class="headings">Akshay Sahu</h1>
            <p>
                Hello there, I am passionate about creating something valuable for myself and people around me.
                Currently,
                I am learning Full stack development at AttainU and this portfolio is also a part of it. I am
                absolutely
                loving it . I feel happy and empowered every passing day.
            </p>
        </div>
    </div>

    <hr />

    <div class="hobbies">
        <h3 class="headings">My Hobbies</a></h3>

        <ul class="circle-ul ul-padding">
            <li>Playing cricket</li>
            <li>Listening to and doing Rap music</li>
            <li>Coding in Python and JavaScript</li>
        </ul>
    </div>

    <hr />

    <div class="experience">
        <h3 class="headings">Work Experience</h3>
        <ul class="square-ul ul-padding">
            <li>2016-2017 Technical Support Associate</li>
            <li>2017-2018 Systems Engineer</li>
            <li>2018-2019 Assistant Ops Manager @ Foodiction</li>
            <li>2019-2020 Service Delivery Expert</li>
        </ul>
    </div>

    <hr />

    <div class="skills">
        <h3 class="headings">Skills</h3>
        <div class="table">
            <table>
                <tr>
                    <td>Python</td>
                    <td>⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>JavaScript</td>
                    <td>⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>⭐⭐⭐⭐</td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="contact skills">
        <h3>Contact:</h3>

        <ul class="contact">
            <li>Email: akxx@gmail.com</li>
            <li>Phone: 9988007766</li>
            <li>Facebook: akshay.sahu@facebook.com</li>
            <li>Address: #445 Main Road Arang, Raipur C.G.</li>
        </ul>
    </div>
</div>

</body>