// Operators in SCSS
// Variables
// Nesting
// Mixin
@mixin flexo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin hover($col) {
    &:hover {
        color: $col;
    }
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

$bg-color: #3498db;

.main_header{
    width: 100vw;
    height:100vh;
    @include flexo();
    background-color: $bg-color;

    h1{
        color: #34495e;
        font-size: 3rem + 2rem;
        @include hover(lightgreen);
        &::after {
            content: " ----New content-----";
        }
    }
    
    p {
        color: #34495e;
        font-size: 3rem + 2rem;
        @include hover(coral);
        
    }
}



