// Operators in SCSS
// Variables
// Nesting
// Mixin

@import 'mixin';
@import 'vars';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}



.main_header{
    width: 100vw;
    height:100vh;
    @include flexo();
    background-color: $bg-color;

    h1{
        color: $font-color;
        font-size: 3rem + 2rem;
        @include hover(lightgreen);
        &::after {
            content: " ----New content-----";
        }
    }
    
    p {
        color: #34495e;
        font-size: 3rem + 2rem;
        @include hover(coral);
        
    }
}



