<div class="flex-container-column">
    <h2>Account Details</h2>
    <form action="/userSignup" method="POST">

        <div class="form-grp">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>

        <div class="form-grp">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="form-grp">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>

        <button class="btn-primary">Sign Up</button>

    </form>

</div>