<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome {{user.name}}</h1>
            <div class="card">
                <img class="card-img" src="/signupback.jpg" alt="Card image cap">
            </div>
            <br>
            <a href="#" role="button" class="btn btn-secondary">Update details</a>
            <a href="#" role="button" class="btn btn-secondary">Add Profile pic</a>

            <a href="/logout" role="button" class="btn btn-danger">Log out</a>
        </div>
    </div>
</div>