<div class="container-login">
    <span>Login</span>
    <form action="./signup" method="POST" class="login">
        <div>
            <input type="text" name="firstName" placeholder="Enter your first name" required>
        </div>
        <div>
            <input type="text" name="lastName" placeholder="Enter your last Name" required>
        </div>
        <div>
            <input type="email" name="email" placeholder="Enter your email" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn">Signup</button>
    </form>
</div>